body {
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.forms-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    resize: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 400px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* CSS pour le boutton switch */

.switch{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: px;
    border-radius: 12px;
    
}

.switch input{
    display: none;
    width: 0;
    height: 0;
}

.slider{
    background-color: #ccc;
    transition: .4s;
    position:relative;
    width: 60px;
    height: 34px;
    display: block;
}

.slider:before{
    position: absolute;
    content:"";
    height: 26px;
    width: 26px;
    top:4px;
    left: 4px;
    border-radius: 50%;
    background-color: white;
    transition: .4s;
}

.switch input:checked + .slider:before{
    transform: translateX(26px);
}

.switch input:checked + .slider{
    background-color: lightblue;
}

.button-unchecked{
    display: none;
}

button:active + input:not(:checked){
    display: ;
}


